
h2 {
  color: red;
}

.document-block {
  font-size: 1.5rem;
}

.inner {
  margin-left: 65px;
}


/* Colour Section */
.red-color {
  color: red;
}

.blue-color {
  color: blue;
}

.skyblue-color {
  color: skyblue;
}
